* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #DBDBD2 85%, #009688 15%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
}

button {
    border: none;
}

/* COMMON */

.container {
    height: 95vh;
    width: 75vw;
    display: flex;    
}

.img-avatar {
    height: 80%;
    border-radius: 3.125rem;
    margin-right: 5px;
}

/* PARTE SINISTRA */

.col-sx {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.barra-alta-sx, .sofia, .michele {
    background-color: #eaeaea;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.icons-barra-alta-sx {
    color: #b1b1b1;
}

.barra-celeste-sx {
    background-color: #8edafc;
    height: 3.625rem;
    display: flex;
    align-items: center;

}

.cerchio-bianco-campanella-sx {
    background-color: white;
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 100%;
    margin-left: .9375rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    background-color: #f5f4f4;
    display: flex;
    padding: .3125rem;
}
.search button, .search input {
    border: none;
}

.contacts {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.user {
    height: 50px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.user:hover {
    background-color: #eaeaea;
}

.nome-e-avatar {
    height: 50px;
    border-bottom: 1px solid lightgrey;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orario-user {
    margin-top: 5px;
    margin-right: 5px;
}

/* PARTE DESTRA */
.col-dx {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.barra-alta-dx {
    background-color: #eaeaea;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: .0625rem solid grey
}

.chat-dx {
    background-image: url(img/mine.jpg);
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: ;
}

.container-nuvolette {
    width: 80%;
    height: 100%;
    margin-top: 40px;
    display: flex;

}

.container-nuvolette-bianche {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.container-nuvolette-verdi {

    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nuvoletta-bianca {
    height: 50px;
    width: 130px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 7px;
}

.nuvoletta-verde {
    height: 50px;
    width: 130px;
    background-color: green;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 7px;
}

.bottom-dx {
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-digitazione {
    width: 80%;
    padding: 5px;
    border: none;
}

/* COLORI */

.light-blue {
    color: #8edafc;
}

.grey {
    color: #5f5f5f;
}

.grey-chiaro-bg {
    background-color: #eaeaea;
}

.white {
    background-color: white;
}

/* VARIE GRANDEZZE DA USARE */

.padding-LR-3px {
    padding: 0 .1875rem;
}

.padding-LR-3px {
    padding: 0 .1875rem;
}

.padding-10px {
    padding: .375rem;
}

.margin-left-10px {
    margin-left: .625rem;
}

.margin-left-25px {
    margin-left: 25px;
}

.margin-right-10px {
    margin-right: .625rem;
}

.margin-right-25px {
    margin-right: 25px;
}

.font-size-13px {
    font-size: .8125rem;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-10px {
    font-size: .625rem;
}

.width-100 {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.margin-bottom-3px {
    margin-bottom: .1875rem;
}

.margin-top-3px {
    margin-top: .1875rem;
}

