* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #DBDBD2 85%, #009688 15%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.container {
    height: 95vh;
    width: 75vw;
    display: flex;    
}

.col-sx {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;

    
}

.col-dx {
    background-image: url(img/mine.jpg);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.barra-alta-sx, .sofia, .michele {
    background-color: #eaeaea;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.img-avatar {
    height: 80%;
    border-radius: 50px;
    

}

.barra-alta-dx {
    background-color: #eaeaea;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid grey
}

.icons-barra-alta-sx {
    color: #b1b1b1;
}

.barra-celeste-sx {
    background-color: #8edafc;
    height: 58px;
    display: flex;
    align-items: center;

}

.cerchio-bianco-campanella-sx {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* COLORI */

.light-blue {
    color: #8edafc;
}

.grey {
    color: #5f5f5f;
}


/* VARIE GRANDEZZE DA USARE */

.padding-LR-3px {
    padding: 0 3px;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-right-10px {
    margin-right: 10px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-10px {
    font-size: 10px;
}